# python
*.egg-info
*.pyc
__pycache__

# env
.env
.venv

# artifacts
service_account.json
public.yaml
*.log

# Added by Task Master AI
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/

# Coverage
.coverage
coverage.xml
